<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="input-group">
                <input id="problem_num" class="form-control" type="text" placeholder="请输入题号">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="if(!$('#problem_num').val())return;window.location.href='/problem/'+$('#problem_num').val();">转到</button>
                </div>
            </div>
        </div>
    </div>
</div>
