{% extends 'layout.html' %}
{% block title %}
    HIEUOJ|重置密码
{% endblock %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
        </div>
        <div class="panel-body">
            {% if success %}
                <script>alert('密码重置为身份证号后6位, 请登录');window.location.href='/';</script>
            {% else %}
                <form action="{{ rquest.path }}" method="POST" class="form-horizontal col-sm-offset-4">
                    <div class="form-group {% if 'username' in form.errors %} has-warning {% endif %}">
                        <label class="control-label col-sm-2">用户名</label>
                        <div class="col-sm-3">
                            <input placeholder="请输入你的用户名" class="form-control" type="text" name="username" value="{{ form.cleaned_data.username }}">
                            <span class="help-block">{{ form.errors.username.0 }}</span>
                        </div>
                    </div>
                    <div class="form-group  {% if 'real_name' in form.errors %} has-warning {% endif %}">
                        <label class="control-label col-sm-2">真实姓名</label>
                        <div class="col-sm-3">
                            <input placeholder="请输入你的真实姓名" class="form-control" type="text" name="real_name" value="{{ form.cleaned_data.real_name }}">
                            <span class="help-block">{{ form.errors.real_name.0 }}</span>
                        </div>
                    </div>
                    <div class="form-group  {% if 'identity' in form.errors %} has-warning {% endif %}">
                        <label class="control-label col-sm-2">身份证号码</label>
                        <div class="col-sm-3">
                            <input placeholder="请输入你的身份证号码" class="form-control" type="text" name="identity" value="{{ form.cleaned_data.identity }}">
                            <span class="help-block">{{ form.errors.identity.0 }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-push-2">
                            <button type="submit" class="button btn-primary form-control">重置密码</button>
                        </div>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}